
<!-- <ion-header>

  <ion-navbar>
    <ion-title><i class="fa fa-rocket"></i>Minute Forms</ion-title>
  </ion-navbar>

</ion-header> -->



<ion-content padding class="login-container">
    

  <h2 style="color:white;font-weight:bold;">Minute Forms</h2>

    <ion-card style="margin-top:40px;"> 
        <ion-card-header>
          
        </ion-card-header>
        <ion-card-content>
    
         <form [formGroup]="login" (ngSubmit)="LoginRegular()">
    
            <ion-item>
                <ion-label stacked style="font-size:18px;"><ion-icon name="mail" style="color:gold"></ion-icon> Email</ion-label>
                <ion-input type="email"  formControlName="email"></ion-input>
            </ion-item>
    
    
            <ion-item *ngIf="!login.controls.email.valid  && (login.controls.email.dirty)">
                <p style="color: orange">Please enter valid Email.</p>
            </ion-item>
    
            <ion-item>
                <ion-label stacked style="font-size:18px;"><ion-icon name="key" style="color:gold"></ion-icon> Password</ion-label>
                <ion-input type="password"  formControlName="password"></ion-input>
            </ion-item>
    
            <ion-item *ngIf="!login.controls.password.valid  && (login.controls.password.dirty)">
                <p style="color: orange">Please enter Password.</p>
            </ion-item>
            <ion-item *ngIf="invalidPassword">
              <p style="color: red"><ion-icon name="bulb" style="color:red"></ion-icon> Invalid Credentials</p>
            </ion-item>
        
       <ion-grid>
        <ion-row>
          <ion-col col-3 offset-1>
            
          <button type="submit" ion-button color="secondary"[disabled]="!login.valid"  class="button-rounded" block> LOGIN</button>
          
           </ion-col>
           <ion-col col-3 offset-3>
             <button ion-button color="primary"   ion-left block (click)='SignUpPage()' class="button-rounded">
               <ion-icon style="padding-right:10px"></ion-icon> <!--name="logo-facebook" -->
               <div>Sign Up</div>
            </button>
           </ion-col>
        </ion-row>

        <ion-row>
         <ion-col>
            <button type="button" ion-button color="danger" ion-left block  (click)="LoginClick()"><ion-icon name="logo-google" style="padding-right:5px;"></ion-icon>Login with Google</button>
         </ion-col>

        </ion-row>

        <ion-row>

          <ion-col>
            <button type="button" ion-button color="primary"  ion-left block (click)="Reset()">
              <!-- <ion-icon name="logo-google" style="padding-right:10px"></ion-icon> -->
              <div>Reset Password</div>
           </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    
    
    

        
    
    
    
            </form>
        </ion-card-content>
    
      </ion-card>
     
   
</ion-content>
