page-d-form {



    // .container{
    //     display: -webkit-flex;
    //     height: 100%;
    //     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,darkgray), color-stop(100%,#f7d47c));
    //     // background: -webkit-linear-gradient(top, darkgray 0%,#f7d47c 100%);
    // }

    // .container{
    //     background-color:red;
    // }

    .content{
        //background: whitesmoke;
        background-color: whitesmoke;
       // opacity: 0.9;
        // background: -webkit-linear-gradient(top, white 10%,lightgrey 100%);
    }
  

    div.input-cover{
        border-color:grey;
        border-width: 2px;
        color:black;
    }

    ion-input{
        border-color:grey;
        border-width: 2px;
        color:black;
    }
    // span .button-inner{
    //     background: lightgrey; 
    // }
}
