<ion-header>
  <!-- <ion-navbar color="secondary" [class]="selectedTheme"> -->
      <ion-navbar color="primary">
    <ion-title>
         Forms
    </ion-title>
     <!-- <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons> -->

 

  </ion-navbar>
  <ion-toolbar> 
      <ion-searchbar [(ngModel)]="searchText" [formControl]="searchControl"></ion-searchbar>
      
      <div *ngIf="searching" class="spinner-container">
          <ion-spinner name="bubbles"></ion-spinner>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content class="container">

<ion-list>

    <!-- <ion-spinner  *ngIf="isLoading" name="bubbles"></ion-spinner> -->

  <ion-item-sliding *ngFor="let item of shoppingItems | async">
  <ion-item  (click)="goToInputForm($event,item)" >
    <ion-thumbnail item-start>
      <img src="{{item.imageurl}}">
    </ion-thumbnail>
    <h2 style="font-weight:bold">{{item.displaytext}}</h2>
    <p>{{item.description}}</p>

    <!-- <ion-icon name="arrow-forward" item-end></ion-icon> -->
    <!-- <button ion-button clear item-end>View</button> -->
  </ion-item>
  </ion-item-sliding>

</ion-list>





</ion-content>