<ion-header>
  <!-- <ion-navbar color="secondary" [class]="selectedTheme"> -->
      <ion-navbar color="primary">
    <ion-title>
         Forms
    </ion-title>
     <!-- <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons> -->

 

  </ion-navbar>
  <!-- <ion-toolbar> 
      <ion-searchbar [(ngModel)]="searchText" [formControl]="searchControl"></ion-searchbar>
      
      <div *ngIf="searching" class="spinner-container">
          <ion-spinner name="bubbles"></ion-spinner>
      </div>
  </ion-toolbar> -->
</ion-header>

<ion-content>

<ion-list>

    <!-- <ion-spinner  *ngIf="isLoading" name="bubbles"></ion-spinner> -->

  <ion-item-sliding *ngFor="let item of shoppingItems | async">


    
  <ion-item class="item-divider" (click)="goToInputForm($event,item)" >
    <ion-thumbnail item-start>
      <img src="{{item.imageurl}}" *ngIf="item.imageurl">
     
      <ion-icon ios="ios-clipboard" *ngIf="!item.imageurl" md="md-clipboard" style="padding-left:10px; font-size: 80px;color:rgb(158,100,91)">
      </ion-icon>
    </ion-thumbnail>
    

    <h2 style="font-weight:bold" text-wrap>{{item.displaytext}}</h2>
    <p text-wrap>{{item.description}}</p>

    <!-- <ion-icon name="arrow-forward" item-end></ion-icon> -->
    <!-- <button ion-button clear item-end>View</button> -->
  </ion-item>
  <!-- <ion-item-options>
      <button shape="round" color="danger" (click)="deleteForm()" > <ion-icon name="trash" size="large"></ion-icon></button>
    </ion-item-options> -->

    <ion-item-options side="left">
        <button ion-button (click)="AddQuestions(item)">Questions</button>
        
      </ion-item-options>
  
      <ion-item-options side="right">
        <button ion-button (click)="CreateNewForm(item)">EDIT</button>
        <button ion-button color="danger" (click)="deleteForm(item)">DELETE</button>
      </ion-item-options>


  </ion-item-sliding>

</ion-list>


<ion-fab bottom right>
  <button ion-fab size="large" color="orange"  (click)="CreateNewForm()">
    <ion-icon name="add-circle" size="large"></ion-icon>
  </button>
</ion-fab>


</ion-content>