<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{formname}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>
      <h1>Question</h1>
    </ion-label>
  </ion-item>



  <form [formGroup]="myform" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label stacked>Question Name</ion-label>
      <ion-input type="text" formControlName="elementname" placeholder="Example: FirstName"></ion-input>
    </ion-item>
    <ion-item no-lines *ngIf="!myform.controls.elementname.valid  && (myform.controls.elementname.dirty)">
      <p style="color: red">This field is required</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Question Text</ion-label>
      <ion-textarea type="text" formControlName="displaytext" placeholder="Example: Enter your First Name">
      </ion-textarea>
    </ion-item>
    <ion-item no-lines *ngIf="!myform.controls.displaytext.valid  && (myform.controls.displaytext.dirty)">
      <p style="color: red">This field is required</p>
    </ion-item>

    <ion-item no-lines>
      <ion-label stacked>Question Type</ion-label>
      <ion-select formControlName="elementtype" placeholder="--Select--">

        <ion-option *ngFor="let opt of elementTypes" [value]="opt.value">{{opt.value}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines *ngIf="!myform.controls.elementtype.valid  && (myform.controls.elementtype.dirty)">
      <p style="color: red">This field is required</p>
    </ion-item>




    <ion-item no-lines>
      <ion-label>Required Field ?</ion-label>
      <ion-checkbox formControlName="required" color="dark" checked="false">

      </ion-checkbox>
    </ion-item>





    <div class="row" style="padding-top:10px;">
      <button ion-button type="submit" color="primary" [disabled]="!myform.valid">Submit</button>
      <button ion-button type="button" color="danger" (click)="onNoClick()">Cancel</button>
      <button ion-button type="button" color="default" (click)="selectSource()">Scan Text From Image </button>
    </div>

    <div class="row">

    </div>




  </form>




</ion-content>