.dark-theme {
    ion-content {
      background-color: #FFC300;
      color: rgba(254, 211, 69, 0.95);
    }
   
    .toolbar-title {
      color: #954444;
    }
   
    .header .toolbar-background {
      border-color: #ff0fff;
      background-color: #FFC300;
    }

  
   


  }