<ion-header>

  <ion-navbar color="primary">
    <ion-title>History</ion-title>

  </ion-navbar>
  <ion-toolbar color="grey">
    <!-- <ion-searchbar [(ngModel)]="searchText" [formControl]="searchControl" (change)="filterExact('family', family)"></ion-searchbar>
    -->
    <ion-item>
      <ion-label>Filter Form</ion-label>
      <ion-select [(ngModel)]="formname" (ionChange)="filterExact('formname',formname)" style="color:grey;">
        <ion-option value="All">--All--</ion-option>
        <ion-option *ngFor="let item of formItems | async" value="{{item.displaytext}}">{{item.displaytext}}</ion-option>
      </ion-select>
    </ion-item>


    <div *ngIf="searching" class="spinner-container">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ion-toolbar>
</ion-header>



<ion-content>

    <ion-icon *ngIf="(filteredHistoryItems)?.length==0" name="bulb" style="font-size:100px;color:#FFC300;padding-top:10%;" ></ion-icon>
    <ion-item no-lines *ngIf="(filteredHistoryItems)?.length==0">
       
        <h1 style="color:grey;font-weight: normal;" text-wrap> 
            No records found.
            Please go to the Forms tab and click on one of the Form you want and save the data.
        </h1>

      </ion-item>

     

  <ion-list>

    <ion-spinner *ngIf="isLoading" name="bubbles"></ion-spinner>




          <ion-item-sliding *ngFor="let item of filteredHistoryItems">
            <ion-item>

           
              <ion-grid>
                <div (click)="download(item)">


                  <ion-row style="color:grey;">
                    <ion-col col-7 text-wrap>
                      <h2>{{item.formname}}</h2>

                    </ion-col>

                    <ion-col  text-wrap>
                      <h5>{{item.createddate}} {{item.createdtime}}</h5>  
                    </ion-col>
              
                  </ion-row>

                </div>


              </ion-grid>

         

            </ion-item>

            <ion-item-options side="right">
              <button ion-button color="danger" (click)="deleteRecord(item)">DELETE</button>
            </ion-item-options>
          </ion-item-sliding>
    

  </ion-list>

</ion-content>