<ion-header>

  <ion-navbar color="primary">
    <ion-title>History</ion-title>

  </ion-navbar>



  <ion-toolbar color="primary">

    <ion-item>
      <ion-label><ion-icon name="search" color="grey"></ion-icon> Search Form</ion-label>
      <ion-select [(ngModel)]="formname" (ionChange)="filterExact('formname',formname)" style="color:grey;">
        <ion-option value="All">--All--</ion-option>
        <ion-option *ngFor="let item of formItems | async" value="{{item.displaytext}}">{{item.displaytext}}</ion-option>
      </ion-select>
    </ion-item>

  

    <!-- <div *ngIf="searching" class="spinner-container">
      <ion-spinner name="crescent"></ion-spinner>
    </div> -->
  </ion-toolbar>
</ion-header>




<ion-content>

    <ion-item *ngIf="isLoading">
        <section>
            <ion-grid>
              <ion-row>
                <ion-col col-12  *ngFor="let option of animations">
                  <lottie-animation-view [options]="option"></lottie-animation-view>
                </ion-col>
              </ion-row>
            </ion-grid>
          </section>
    </ion-item>

  <ion-icon *ngIf="(filteredHistoryItems)?.length==0" name="bulb"
    style="font-size:100px;color:#FFC300;padding-top:10%;"></ion-icon>
  <ion-item no-lines *ngIf="(filteredHistoryItems)?.length==0">

    <h1 style="color:grey;font-weight: normal;text-align: center;" text-wrap>
      No records found
    </h1>

  </ion-item>



  <ion-list>


    <ion-item-sliding *ngFor="let item of filteredHistoryItems">
      <ion-item no-lines class="bottom-border">


        <ion-grid>
          <div (click)="download(item)">


            <ion-row style="color:grey;">
              <ion-col col-7 text-wrap>
                <h2>{{item.formname}}</h2>

              </ion-col>

              <ion-col text-wrap>
                <h5>{{item.createddate}} {{item.createdtime}}</h5>
              </ion-col>

            </ion-row>

          </div>


        </ion-grid>



      </ion-item>

      <ion-item-options side="right" *ngIf="historydeleteSettings==true">
        <button ion-button color="danger" (click)="deleteRecord(item)">DELETE</button>
      </ion-item-options>
    </ion-item-sliding>


  </ion-list>

</ion-content>