
<ion-header>

  <ion-navbar color="primary">
    <ion-title>History</ion-title>
  
  </ion-navbar>
  <ion-toolbar> 
      <ion-searchbar [(ngModel)]="searchText" [formControl]="searchControl"></ion-searchbar>
      
      <div *ngIf="searching" class="spinner-container">
          <ion-spinner name="crescent"></ion-spinner>
      </div>
  </ion-toolbar>
</ion-header>



<ion-content padding class="container">


    <!-- <ion-grid>
       <ion-row>
          <ion-col col-4 col-sm>
            <b> Form Name</b> 
          </ion-col>
          <ion-col col-4 col-sm>
              <b>    Date</b> 
          </ion-col>
          <ion-col col-4 col-sm>
              <b>  Time</b> 
          </ion-col>
       </ion-row>

        <ion-row *ngFor="let item of historyItems | async">
          <ion-col col-4 col-sm>
              {{item.formname}}
          </ion-col>
          <ion-col col-4 col-sm>
              {{item.createddate}}
          </ion-col>
          <ion-col col-4 col-sm>
              {{item.createdtime}}
          </ion-col>
        
        </ion-row>
      </ion-grid> -->


    <ion-list>
        
       <ion-spinner  *ngIf="isLoading" name="bubbles"></ion-spinner>
        
          <ion-item-sliding *ngFor="let item of historyItems | async">
          <ion-item>
              <ion-grid>
                  <ion-row>
                    <ion-col>
                        <h3> <b>FORM NAME:</b> {{item.formname}}</h3>
                        <h4> <b>DATE:</b>  {{item.createddate}}</h4>
                        <h4> <b>TIME:</b>  {{item.createdtime}}</h4>
                    </ion-col>
                    <!-- <ion-col col-3>
                     <button ion-button small="true" (click)="download(item)"  type="button" color="primary"> <i class="fa fa-file-pdf-o fa-1x"></i>  View Pdf</button>
                    </ion-col> -->
                  </ion-row>
                 
                </ion-grid>
       
           

          </ion-item>
          </ion-item-sliding>
        
        </ion-list>

</ion-content>
