page-data {

    // ion-grid{
    //     border-width: 1px;
    //     border-style: solid;
    //     border-color: #428bca;
    // }

    .Label{
        font-weight:bold;
    //  color:#428bca;

    }

    ion-col
    {
        border-width: 1px;
        border-style: solid;
        // border-left: solid;
        border-color: #428bca;

    }
    // ion-row {
    //      border-width: 1px;
    //      border-style: solid;
    //      border-bottom: solid;
    //      border-color: #428bca;

    // }

}
