<ion-header>

  <ion-navbar color="primary">
    <ion-title>Submitted Data</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid>
    <ion-row>
      <ion-label col-12>
        <h1 style="font-weight:bold;color:#428bca">{{formName}}</h1>
      </ion-label>
    </ion-row>
    <ion-row *ngFor="let column of columns">
      <ion-col col-3 class="Label">{{ column.header }}</ion-col>
      <ion-col col-9 *ngIf="column.elementtype == 'Photo' || column.elementtype == 'Signature'" >
        <ion-thumbnail item-start>
          <img class="{{column.columnDef}}" src="">
        </ion-thumbnail>
      </ion-col>


      <ion-col col-9 item-end *ngIf="column.elementtype != 'Photo' && column.elementtype != 'Signature'">
        {{ formdata[column.columnDef] }}
      </ion-col>



    </ion-row>
  </ion-grid>


  <!-- <ion-grid>
    <ion-row *ngFor="let item of data">

      <ion-col col-3 class="Label">{{item.key}}</ion-col>
      <ion-col col-9 *ngIf="item.key.includes('Photo_') || item.key.includes('Sign_')">
        <ion-thumbnail item-start>
          <img class="{{item.key}}" src="">
        </ion-thumbnail>
      </ion-col>
      <ion-col col-9 item-end *ngIf="!item.key.includes('Photo_') && !item.key.includes('Sign_')">{{item.value}}
      </ion-col>

    </ion-row>
  </ion-grid> -->


  <ion-fab bottom right>
    <button ion-fab size="large" color="primary" (click)="printDisabled()">
      <ion-icon name="cloud-download" size="large"></ion-icon>
    </button>
  </ion-fab>

  <!-- {{formData | json}} -->


</ion-content>