page-data {

// .scroll-content{
//   background-color: white !important;
// }

// .div{
// border-color: red;
// border-width: 2px;
// border-bottom: 2px;


// }

    .scroll-content {
      background-color: grey;
  }
  .grid{
      background: white;
  }
      
      .header .col {
        background-color:lightgrey;
      }
      
      // .col {
      //   border: solid 1px #428bca;
      //   border-bottom-style: none;
      //   border-right-style: none;
      // }
      
      // .col:last-child {
      //   border-right: solid 1px grey;
      // }
      
      // .row:last-child .col {
      //   border-bottom: solid 1px grey;
      // }

    // ion-grid{
    //     border-width: 1px;
    //     border-style: solid;
    //     border-color: #428bca;
    // }

    // .Label{
    //     font-weight:bold;
      

    // }

    // ion-col
    // {
    //     border-width: 1px;
    //     border-style: solid;
    //     // border-left: solid;
    //     border-color: #428bca;

    // }
    // ion-row {
    //      border-width: 1px;
    //      border-style: solid;
    //      border-bottom: solid;
    //      border-color: #428bca;

    // }

}

