<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{formName}}</ion-title>
  </ion-navbar>


</ion-header>



<ion-content>
  <!-- [(ngModel)]="alignment" color="primary" (ionChange)="segmentChanged($event)" -->
  <!-- <ion-segment [(ngModel)]="alignment" color="primary" style="background: white;">
    
    <ion-segment-button value="vertical">
      Vertical View
    </ion-segment-button>
    <ion-segment-button value="horizontal">
      Horizontal View
    </ion-segment-button>

  </ion-segment> -->



  <div [ngSwitch]="alignment">

    <div *ngSwitchCase="'horizontal'">


      <ion-grid *ngFor="let column of columns">
        <ion-row>
          <ion-col col-6>
            <i text-wrap style="color:black;padding-bottom: 5px;font-style: normal;"> {{column.header}}</i>
          </ion-col>
          <ion-col>
            <i style="font-style: normal;color:grey;" text-wrap
              *ngIf="column.elementtype != 'Photo' && column.elementtype != 'Signature'">
              {{ formdata[column.columnDef] }} </i>


            <ion-thumbnail item-start *ngIf="column.elementtype == 'Photo' || column.elementtype == 'Signature'">
              <img class="{{column.columnDef}}" src="DomSanitizer.bypassSecurityTrustUrl({{formdata[column.columnDef]}})'">
            </ion-thumbnail>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'vertical'">


      <ion-list>
        <ion-item-sliding *ngFor="let column of columns">
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <h2 text-wrap style="color:black;padding-bottom: 5px;"> {{column.header}}</h2>
                  <h5 text-wrap *ngIf="column.elementtype != 'Photo' && column.elementtype != 'Signature'">
                    {{ formdata[column.columnDef] }} </h5>


                  <ion-thumbnail item-start *ngIf="column.elementtype == 'Photo' || column.elementtype == 'Signature'">
                    <!-- <img class="{{column.columnDef}}" src=""> -->
                    <ion-icon name="image" style="font-size: 100px;"></ion-icon>
                    
                  </ion-thumbnail>
                  <label *ngIf="column.elementtype == 'Photo' || column.elementtype == 'Signature'">Print to view image</label>


                  <!-- <h4> <b>DATE:</b>  {{item.createddate}}</h4>
                          <h4> <b>TIME:</b>  {{item.createdtime}}</h4> -->
                </ion-col>

              </ion-row>

            </ion-grid>



          </ion-item>
        </ion-item-sliding>

      </ion-list>

    </div>

  </div>






  <ion-fab bottom right>
    <button ion-fab size="large" color="secondary" (click)="print()">
  
       <ion-icon name="print" size="large"></ion-icon> 
    </button>
  </ion-fab>

</ion-content>
<!-- 
<ion-content padding class="container">

  <ion-grid>
    <ion-row>
      <ion-label col-12>
        <h1 style="font-weight:bold;color:#428bca">{{formName}}</h1>
      </ion-label>
    </ion-row>
    <ion-row *ngFor="let column of columns">
      <ion-col col-3 class="Label">{{ column.header }}</ion-col>
      <ion-col col-9 *ngIf="column.elementtype == 'Photo' || column.elementtype == 'Signature'">
        <ion-thumbnail item-start>
          <img class="{{column.columnDef}}" src="">
        </ion-thumbnail>
      </ion-col>

      <ion-col col-9 item-end *ngIf="column.elementtype != 'Photo' && column.elementtype != 'Signature'">
        {{ formdata[column.columnDef] }}
      </ion-col>

    </ion-row>
  </ion-grid> 

  <div *ngFor="let column of columns">
    <div>
      <div col-12>{{column.header}}</div>
      <div col-12 >
        <div  *ngIf="column.elementtype == 'Photo' || column.elementtype == 'Signature'">
          <ion-thumbnail item-start>
            <img class="{{column.columnDef}}" src="">
          </ion-thumbnail>
        </div>
      </div>

      <div  col-12 item-end *ngIf="column.elementtype != 'Photo' && column.elementtype != 'Signature'">
        {{ formdata[column.columnDef] }}
      </div>
    </div>
  </div>









</ion-content> -->